<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="app-container">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Main Content -->
  <main [ngClass]="{
    'mt-24 mb-24': isExtraSpacingRoute(),
    'mt-24 mb-16': isSpecialRoute() && !isExtraSpacingRoute(),
    'mt-8 mb-16': !isSpecialRoute()
  }">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white py-4">
    <div class="container mx-auto px-4 text-center">
      <div class="flex flex-col items-center">
        <div class="flex space-x-4 mb-2">
          <a href="https://github.com/shubhampawar2707" class="hover:text-primary"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/shubham-pawar-jfd" class="hover:text-primary"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/Shubhu_Pwr" class="hover:text-primary"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="text-sm">&copy; 2024 || Shubham Pawar. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
